*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    padding: 0;
    margin: 0;
}
.container{

    width: 100%;
}
.co-cont{

    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}
.image{

    background-image: url(../Image/pexels-photo-10003543.jpeg);
    height: 403px;
    width: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.container2{

    width: 100%;

}
.co-cont2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.textOrange{
    width: 313px;
    height: 265px;
    background-color: #ddc384;
    transform: translate(-13px);
    position: relative;
    bottom: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    color: white;
}
.textOrange h1{

    font-size: 30px;
    margin: 0 0 50px 0;
    font-weight: bold;
}
.textOrange p{

    font-size: 18.5px;
    line-height: 1.3;
}
.chekPoint{

    width: 313px;
    height: 270px;
    padding: 30px;
    line-height: 2;
    font-size: 1.275rem;
}
.chekPoint ul{
    list-style: none;
    margin-top: -50px;
}
.text1{

    width: 293px;
    height: 127px;
    line-height: 1.5;
    font-size: 18.2px;
    margin-top: -35px;
}
.readMore{
    display: flex;
    justify-content: center;
}
button{

    width: 165px;
    height: 49px;
    margin-top: 25px;
    background-color:#ddc384;
    border: none;
    border-radius: 6px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    padding-top: 4px;
    cursor: pointer;
}
.container3{

    width: 100%;
}
.co-cont3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 45px 50px;
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
}
.title{

    width: 340px;
    height: 132px;
    margin-bottom: 7px;
}
.paragraphe2{

    line-height: 1.3;
    margin-top: 20px;
    width: 340px;
    height: 204px;
}
.signature{

    background-image: url(../Image/Signaturepng.png);
    height: 155px;
    width: 320px;
    margin-top: 60px ;
    transition: transform 0.6s ease-in-out;
    transform: translateX(+100%);
    opacity: 0;
}
.signature.active {
    transform: translateX(0%);
    opacity: 1;
}
.container4{

    width: 100%;
    display: flex;
    justify-content: center;
}
.co-cont4{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.co-cont4-g{

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title2{

    text-align: center;
    font-size: 22px;
    width: 320px;
    height: 66px;
}
.paragraphe3{

    height: 255px;
    width: 320px;
    margin-top: 60px;
    font-size: 19px;
    line-height: 1.5;
}
.co-cont4-g .readMore{

    margin-top: 60px;
}
.co-cont4-d{

    background-image: url(../Image/pexels-photo-8265680.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 340px;
    height: 370px;
    transition: transform 1s ease-in-out;
    transform: translateX(+100%);
    opacity: 0;

}
.co-cont4-d.active {

    transform: translateX(0%);
    opacity: 1;
}
.container5{

    width: 100%;
    display: flex;
    justify-content: center;
}
.co-cont5{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.co-cont5-g{

    background-image: url(../Image/44.jpeg);
    width: 340px;
    height: 370px;
    margin-top: 65px;
    transition: transform 1s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;

}
.co-cont5-g.active{
    transform: translateX(0%);
    opacity: 1;
}
.co-cont5-d{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.co-cont5-d .title5{

    text-align: center;
    font-size: 22px;
    width: 320px;
    height: 100px;
    line-height: 1;
    padding: 30px 0px;

}
.paragraphe5{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 320px;
    height: 307px;
    margin-top: 80px;
    font-size: 20px;
}
.container6{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.co-cont6{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.research,
.consulting,
.marketing,
.development,
.prototyping,
.support{

    width: 340px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marketing,
.consulting,
.support{

    background-color: #fcf9f1;
}
.logoresearch,
.logodevelopment,
.logoprototyping,
.logospport,
.logosupport,
.logomarketing,
.logoconsulting{
    
    background-color: #ddc384;
    width: 68px ;
    height: 68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}
.logoresearch{

    margin-bottom: 0px;
}
.logoresearch i,
.logodevelopment i,
.logoprototyping i,
.logosupport i,
.logomarketing i,
.logoconsulting i
{

    font-size: 43px;
    padding-top: 4px;
    color: white;
}
.titleresearch{

    height: 24px;
    height: 20px;
    margin: 22px 115px 0px;
}
.pararesearch p,
.paradevelopment p,
.paraprototyping p,
.parasupport p,
.consulting p,
.marketing p
{

    font-size: 19.5px;
    margin: 32px 22px 0px;
    text-align: center;
}
.container7{

    width: 100%;
    display: flex;
    justify-content: center;
}
.co-cont7{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6,
.photo7,
.photo8{

    width: 340px;
    height: 302px;
    margin: 10px 5px 0 5px;
}
.photo1{

    background-image: url(../Image/photo1.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo2{

    background-image: url(../Image/photo2.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo3{

    background-image: url(../Image/photo3.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo4{

    background-image: url(../Image/photo4.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo5{

    background-image: url(../Image/photo5.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo6{

    background-image: url(../Image/photo6.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo7{

    background-image: url(../Image/photo7.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.photo8{

    background-image: url(../Image/photo8.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.extra{

    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-cont7{

    text-align: center;
    font-size: 18.4px;
    margin-top: 30px;
    width: 350px;
    height: 51px;
}
.reseau i{

    font-size: 25px;
    margin: 30px 10px;
}
.container8{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fcf9f1;
}
.co-cont8{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #fcf9f1;
}
.compteur{
    text-align: center;
    font-size: 73px;
    font-weight: bold;
    color: #DDC384;
    margin: 70px 0px 35px 0px;
}
.titleCo-cont8{

    width: 340px;
    height: 126px;
    text-align: center;
    font-size: 30px;
}
.co-cont8 input[type=email]{

    display: flex;
    border: none;
    width: 340px;
    height: 52px;
    font-size: 20.5px;
    border-radius: 10px;
    color: rgb(140, 135, 135);
    margin: 40px auto 0 auto;
    padding-left: 20px;
}
.co-cont8 input[type=email]:focus{ 
    outline: none;
    box-shadow: -0px -0px 10px 1px grey;
}  
input[type=submit]{

    width: 340px;
    height: 49px;
    margin-top: 25px;
    background-color:#ddc384;
    border: none;
    border-radius: 6px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    padding-top: 4px;
    cursor: pointer;  
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.text{

    font-size: 17px;
    width: 340px;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    align-self: center;
} 
.container9{
    width: 100%;
    display: flex;
    justify-content: center;
}
.co-cont9{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.co-cont9-g{

    width: 320px;
    height: 126px;
    margin-top: 150px;
    font-size: 28px;
    text-align: right;
}
.co-cont9-d{

    width: 340px;
    height: 320px;
    padding: 30px 10px;
    font-size: 19.5px;
    line-height: 1.35;
}
.co-cont9-d .readMore button{
    margin-top: 60px;
}
.container10{

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.co-cont10{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.profil1,
.profil2,
.profil3{

    width: 340px;
    height: 528px;
    text-align: center;
}
.profil1 .reseau i,
.profil2 .reseau i,
.profil3 .reseau i{

    font-size: 18px;
}
.profil1 h4,
.profil2 h4,
.profil3 h4{

    font-size: 20px;
    margin: 23px 0px 15px 0px ;
}
.profil1 h3,
.profil2 h3,
.profil3 h3{

    color: #DDC385;
}
.profil1-picture{

    background-image: url(../Image/profil1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 320px;
    height: 349px;
}
.profil2-picture{

    background-image: url(../Image/profil2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 320px;
    height: 349px;
}
.profil3-picture{

    background-image: url(../Image/profil3.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 320px;
    height: 349px;
}
.container11{

    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
    
}
.co-cont11{

    width: 100%;
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;

}
.contact1{

    display: flex;
    flex-direction: column;
    width: 340px;
    height: 415px;
    color: white;
    background-color: #ddc384;
    padding: 10px 15px 20px 10px;  
}
.title-contact1{
    font-size: 18px;
}
.paragraphe-contact1{

    font-size: 20px;
    font-weight: bold;
    line-height: 1.55;
}
.paragraphe2-contact1{

    font-size: 19px;
    line-height: 1.6;
    transform: translate(0, -20px);
}
.contact1 >*{

    margin: 20px 0;
}
.facebook,
.instagram,
.linkedIn,
.vk,
.youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddc384;
    border: 1 solid white;
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.facebook i,
.instagram i,
.linkedIn i,
.vk i,
.youtube i{

    font-size: 18px;
}
.reseau-contact1{

    display: flex;
    column-gap: 10px;
    transform: translate(-0, -25px);
    transform: translate(0, -40px);
}
.contact2{
    
    width: 340px;
    height: 409px;
    margin-top: 15px;
}
.callus h2,
.location h2,
.services h2{

    color: #DDC385;
    margin: 20px 0;
}
.callus p,
.location p,
.services p{
    font-size: 17.5px;
}
.services ul{

    list-style: none;
}
.services ul li{
    font-size: 18.5px;
}
.submit{

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inputsubmit input[type=submit]{
    color: black;
}
.contactus input[type=email],
.contactus input[type=text]{

    border: none;
    width: 340px;
    height: 52px;
    font-size: 20.5px;
    border-radius: 10px;
    color: rgb(180, 176, 176);
    margin-top: 10px;
    padding-left: 20px;
    font-size: 17.5px;
    background-color: #fcf9f1;
}
.contactus textarea{

    min-width: 340px;
    min-height: 122px ;
    max-height: 200px;
    font-size: 18px;
    border: none;
    background-color: #fcf9f1;
}
